## Original ignores
.idea/*
*.mp3
*.mpeg
**/auto_gpt_workspace/*
*ai_settings*
auto-gpt.json
autogpt/*.json
autogpt/keys.py
azure.yaml
logs
mem.sqlite3
venvAutoGPT

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
*.egg-info/
build/
dist/
downloads/
lib/
lib64/
pip-wheel-metadata/
plugins/
sdist/
wheels/

# Unit test / coverage reports
.cache
.coverage*
.hypothesis/
.nox/
.pytest_cache/
.tox/
.webassets-cache
*.cover
*.py,cover
htmlcov/
nosetests.xml

# pipenv
.Pipfile.lock

# Environments
.direnv/
*.env*
.venv*

openai/

# Custom files
CURRENT_BULLETIN.md
scripts/incomplete.json
scripts/temp.json
scripts/empty_input.json